body{
    font-family: var(--body-font-family);
}

.web{
    color: #4D5AE5;
    text-transform: uppercase;
    font-family: var(--web-studio);
}
.main-nav{
    background-color: #E7E9FC;
   
}

.web-studio{
    text-transform: uppercase;
    font-family: var(--web-studio);
}


.part-one{
    background-color: #2E2F42;
}
.part-one .main-title{
    font-size: 56px;
    color: #ffffff;
    text-align: center;
    line-height: 6;
}
.button-one{
    background-color: #4D5AE5 ;
}
ul{
    list-style-type: none;
}

:root{
    --web-studio: "Raleway";
    --body-font-family: "Roboto";
}
