body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.web{
    color:  var(--span-color);
    
}
.web-footer{
    color: #F4F4FD;
    
}

.main-nav{
    background-color: #E7E9FC;
   
}

.web-studio{
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
   
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:#4d5ae5;
}

.link{
    text-decoration: none;
}
.part-one{
    background-color: #2E2F42;
}
.part-one .main-title{
    font-size: 56px;
    color: #ffffff;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.button-one{
    background-color: #4D5AE5 ;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.button-one:hover, .button-one:focus{
    background-color: #404BBF;
    cursor: pointer;
}


.section-title{
    text-align: center;
    font-size: 36px;
}

.team h3{
    text-align: center;
}
.team p{
    text-align: center;
}
.list{
    list-style-type: none;
}

.studio-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--span-color);

}

.studio-nav:hover, .studio-nav:focus{
    color: #404bbf;
}

.address-header{
    font-style: normal;
}


.address{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-color);

}

.address:hover, .address:focus{
    color: #404bbf;
}
footer{
    background-color: #2E2F42;
}

footer p{
    color: #F4F4FD;
}

:root{
    --span-color: #2e2f42;
    --address-color: #434455;
}